  <div class="taskblock">
    <h1>My Task</h1>
    <% @tasks.each do |task| %>
    <% if task.completed%>
        <p><i class="far fa-check-square"></i>
        <%=link_to task.title, task_path(task)%>
    <%else %>
      <p> <i class="far fa-square"></i>
      <%=link_to task.title, task_path(task)%>
  <% end %>
  <%= link_to "", delete_path(task.id), class: 'far fa-trash-alt',
      method: :delete,
      data: { confirm: "Are you sure?" }%></p>
  <% end %>
  <p><%= link_to'Add a new task', new_task_path %></p>
</div>
