.contentdetails {
  background : #f8f9fa;
  border: 2px solid #f8f9fa;
  padding: 4px;
  margin: 10px;
  width: 50%;
}


.contentall {
  margin: 10px;
}

#editstyle{
  display: flex;
  align-items: left;
  color: white;
}
